/* Add CSS styling here */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  /* box-sizing: border-box; */
  /*border: solid 4px green;*/
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 15px;
}
header nav button {
  width: 10%;
  height: 80px;
  border: 2px black solid;
}
header nav button:hover{
  color:white;
  background-color: black;}
h2 {
  text-align: center;
  font-size: 50px;
}

header p {
  padding: 2%;
}
#centerpic {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}
#centerpic img {
  height: 100%;
}
#projects {
  /* background-color: aqua; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0%;
  vertical-align: top !important;
  /* align-items: stretch; */
}
#projects img {
  display: flex;
  width: 20%;
  margin: 5px 5px 5px 0;
}
footer {
  background-color: grey;
}
footer nav {
  display: flex;
  justify-content: center;
  padding: 35px;
}

footer nav button {
  width: 10%;
  height: 80px;
  border: 2px black solid;
}
#text {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  /* background-color: darkgreen; */
}
